[submodule "repo-l2"]
	path = refs/repo-l2
	url = https://github.com/rynkowsg/test-clone-repo-l2.git
	branch = master
[submodule "repo-l2-lfs"]
	path = refs/repo-l2-lfs
	url = https://github.com/rynkowsg/test-clone-repo-l2.git
	branch = master-lfs
